# dependencies
node_modules
.pnp
.pnp.*

# build / next
.next
.next-dist
out
build
dist

# turborepo
.turbo

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
.vercel

# logs
*.log
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
